<mat-card [formGroup]="issueForm" id="create-card">
  <mat-card-title>Create new issue</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Title">
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea matInput formControlName="reason" placeholder="Reason"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select formControlName="severity" placeholder="Severity">
        <mat-option value="low">Low</mat-option>
        <mat-option value="medium">Medium</mat-option>
        <mat-option value="high">High</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="submit()">SUBMIT</button>
  </mat-card-actions>
</mat-card>

{{ issueForm.status }}